@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}
 
.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 72px ;
    padding-bottom: 72px ;
}

.logo {
    width: 64px; 
    height: 40px;
}

ul {
    list-style: none;
    display: inline-flex;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 10px;
}

ul > li {
    margin: 0 20px;
    justify-content: center;
    align-items: center;
}

.menu-btn {
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.menu-btn .bar, .menu-btn:after, .menu-btn:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #0a0a0a;
    margin: 6px 0px;
    transition: 0.4;

}

.menu-btn.is-active{
    transform: rotate(45deg) translate(-9px, 9px);
}

main {
    align-items: center;
    font-family: "Inter";
    height: 50%;
}

main .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.content-left {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    align-items: center;
}

.top {
    width: 100%;
    height: 300px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    
}

.top > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bot-left {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    width: 100%;
    height: 100%;
    
}

.bot-left h1 {
    color: #00001A;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
}

.bot-right {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
}

.bot-right p {
    color: #5E607A;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.bot-right a {
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 4.375px;
    display: inline-block;
    background-color: #F15D51;
    text-decoration: none;
    padding: 10px 37px;
    margin-top: 30px;
}

.content-right {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
    background-color: #00001A;
}

.card h1 {
    color:  #E9AA52;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin: 30px 0px 30px 20px;
}

.card h2 {
    color:  #FFFDFA;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    margin: 30px 0px 5px 20px;
}

.card h3 {
    color:  #C5C6CE;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 10px 0px 30px 20px;
}

.line {
    width: 302px;
    height: 1px;
    background: #5E607A;
    margin: 0 auto;
}

section {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 129px;
}

.footer .container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    font-family: Inter;
}

.obj-left {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;

    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 15px;
}

.obj-left:link, .obj-center:link, .obj-right:link {
    text-decoration: none;
}
  
  .obj-left:link, .obj-center:link, .obj-right:link {
    text-decoration: none;
}
  
  .obj-left:link, .obj-center:link, .obj-right:link {
    text-decoration: none;
}
  
  .obj-left:link, .obj-center:link, .obj-right:link {
    text-decoration: none;
}
  
.obj-center {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 15px;
}

.obj-right { 
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;

    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 15px;
}

.footer .container img {
    height: 127px;
    width: 100px;
    object-fit: cover;
}

.num {
    color: #C5C6CE;
    font-size: 2rem;
    font-weight: 700;
    line-height: 32px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 10px ;
}

.bot-link {
    text-decoration: none;
    color: #00001A;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
}

.txt {
    color: #5E607A;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-top: 10px ;
}

.obj-left2 {
    width: 226px;
    height: 129px;
}

.obj-center2{
    width: 226px;
    height: 129px;
}

.obj-right2 {
    width: 226px;
    height: 129px;
}

@media screen and (min-width: 300px) and (max-width: 767px) {

    .container {
        max-width: 375px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .nav .container ul {
        display: none;
    }

    .nav .container img {
        display: inline;
        height: 50px;
    }

    main .container {
        display: flex;
        flex-direction: column;
        gap: 70px;
    }

    .content-left {
        display: flex;
        flex-direction: column;
    }

    section .footer .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }

}